.App {
  padding: 20px 0 90px 0;
  text-align: center;
  height: 100%;
}
.app__form {
  padding: 10px;
  position: fixed;
  bottom: 0px;
  z-index: 1;
  background-color: #e9e9eb;
  width: 96%;
  margin: 20px;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__formInput {
  flex: 1;
}

.app__formIconButton {
  flex: 0;
}

.app_signIn {
  color: #c51162 !important;
  cursor: pointer;
}
